# Anomaly Detection

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf
import os

In [3]:
os_path_base = "/kaggle/input/ieee-fraud-detection"

#### 3. Load the CSV files as ‘train_transaction.csv’

In [4]:
path_data = os.path.join(os_path_base, "train_transaction.csv")
df = pd.read_csv(path_data)
df.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### 4. From train_transaction keep 10000 entries: the first 9700 non-fraud entries and the first 300 fraud entries in dataset reduced_transaction_df

In [9]:
df_non_fraud = df[df["isFraud"] == 0][:9700]
print(df_non_fraud.shape)
df_non_fraud.head(3)

(9700, 394)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_fraud = df[df["isFraud"] == 1][:300]
print(df_fraud.shape)
df_fraud.head(3)

(300, 394)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
203,2987203,1,89760,445.000,W,18268,583.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,2987240,1,90193,37.098,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,2987243,1,90246,37.098,C,13413,103.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
reduced_transaction_df = pd.concat([df_non_fraud, df_fraud], ignore_index=True)
reduced_transaction_df

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2998003,1,330244,54.0,W,3507,NaN,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,2998019,1,330423,150.0,H,3821,111.0,150.0,mastercard,219.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,2998035,1,330738,171.0,W,4993,553.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,2998043,1,330852,39.0,W,16727,111.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,2998173,1,333007,150.0,R,16658,555.0,150.0,visa,226.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## **I/ Data set observation**

#### 5. Print the head of the dataset

In [18]:
reduced_transaction_df.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### 6. List following information for the training set
1. Column number
2. Column names (all should be visible in a line, not in a column)
3. Length of the data set
4. For each column name, its type (show all values)

In [22]:
column_number = len(reduced_transaction_df.columns)
column_number

394

In [25]:
column_names = list(reduced_transaction_df.columns)
print(', '.join(map(str, column_names)))

TransactionID, isFraud, TransactionDT, TransactionAmt, ProductCD, card1, card2, card3, card4, card5, card6, addr1, addr2, dist1, dist2, P_emaildomain, R_emaildomain, C1, C2, C3, C4, C5, C6, C7, C8, C9, C10, C11, C12, C13, C14, D1, D2, D3, D4, D5, D6, D7, D8, D9, D10, D11, D12, D13, D14, D15, M1, M2, M3, M4, M5, M6, M7, M8, M9, V1, V2, V3, V4, V5, V6, V7, V8, V9, V10, V11, V12, V13, V14, V15, V16, V17, V18, V19, V20, V21, V22, V23, V24, V25, V26, V27, V28, V29, V30, V31, V32, V33, V34, V35, V36, V37, V38, V39, V40, V41, V42, V43, V44, V45, V46, V47, V48, V49, V50, V51, V52, V53, V54, V55, V56, V57, V58, V59, V60, V61, V62, V63, V64, V65, V66, V67, V68, V69, V70, V71, V72, V73, V74, V75, V76, V77, V78, V79, V80, V81, V82, V83, V84, V85, V86, V87, V88, V89, V90, V91, V92, V93, V94, V95, V96, V97, V98, V99, V100, V101, V102, V103, V104, V105, V106, V107, V108, V109, V110, V111, V112, V113, V114, V115, V116, V117, V118, V119, V120, V121, V122, V123, V124, V125, V126, V127, V128, V129, V130, V131, V132, V133, V134, V135, V136, V137, V138, V139, V140, V141, V142, V143, V144, V145, V146, V147, V148, V149, V150, V151, V152, V153, V154, V155, V156, V157, V158, V159, V160, V161, V162, V163, V164, V165, V166, V167, V168, V169, V170, V171, V172, V173, V174, V175, V176, V177, V178, V179, V180, V181, V182, V183, V184, V185, V186, V187, V188, V189, V190, V191, V192, V193, V194, V195, V196, V197, V198, V199, V200, V201, V202, V203, V204, V205, V206, V207, V208, V209, V210, V211, V212, V213, V214, V215, V216, V217, V218, V219, V220, V221, V222, V223, V224, V225, V226, V227, V228, V229, V230, V231, V232, V233, V234, V235, V236, V237, V238, V239, V240, V241, V242, V243, V244, V245, V246, V247, V248, V249, V250, V251, V252, V253, V254, V255, V256, V257, V258, V259, V260, V261, V262, V263, V264, V265, V266, V267, V268, V269, V270, V271, V272, V273, V274, V275, V276, V277, V278, V279, V280, V281, V282, V283, V284, V285, V286, V287, V288, V289, V290, V291, V292, V293, V294, V295, V296, V297, V298, V299, V300, V301, V302, V303, V304, V305, V306, V307, V308, V309, V310, V311, V312, V313, V314, V315, V316, V317, V318, V319, V320, V321, V322, V323, V324, V325, V326, V327, V328, V329, V330, V331, V332, V333, V334, V335, V336, V337, V338, V339

In [28]:
df_len = reduced_transaction_df.shape[0]
df_len

10000

In [57]:
column_types = [reduced_transaction_df[col].dtypes.name for col in column_names]
col_print = 5
for i in range(len(column_names) // col_print):
    for j in range(col_print):
        print(f"{column_names[i*col_print+j]}: {column_types[i*col_print+j]}", end="\t\t")
    print()

TransactionID: int64		isFraud: int64		TransactionDT: int64		TransactionAmt: float64		ProductCD: object
card1: int64		card2: float64		card3: float64		card4: object		card5: float64
card6: object		addr1: float64		addr2: float64		dist1: float64		dist2: float64
P_emaildomain: object		R_emaildomain: object		C1: float64		C2: float64		C3: float64
C4: float64		C5: float64		C6: float64		C7: float64		C8: float64
C9: float64		C10: float64		C11: float64		C12: float64		C13: float64
C14: float64		D1: float64		D2: float64		D3: float64		D4: float64
D5: float64		D6: float64		D7: float64		D8: float64		D9: float64
D10: float64		D11: float64		D12: float64		D13: float64		D14: float64
D15: float64		M1: object		M2: object		M3: object		M4: object
M5: object		M6: object		M7: object		M8: object		M9: object
V1: float64		V2: float64		V3: float64		V4: float64		V5: float64
V6: float64		V7: float64		V8: float64		V9: float64		V10: float64
V11: float64		V12: float64		V13: float64		V14: float64		V15: float64
V16: float64		V17: float64		V18: float64		V19: float64		V20: float64
V21: float64		V22: float64		V23: float64		V24: float64		V25: float64
V26: float64		V27: float64		V28: float64		V29: float64		V30: float64
V31: float64		V32: float64		V33: float64		V34: float64		V35: float64
V36: float64		V37: float64		V38: float64		V39: float64		V40: float64
V41: float64		V42: float64		V43: float64		V44: float64		V45: float64
V46: float64		V47: float64		V48: float64		V49: float64		V50: float64
V51: float64		V52: float64		V53: float64		V54: float64		V55: float64
V56: float64		V57: float64		V58: float64		V59: float64		V60: float64
V61: float64		V62: float64		V63: float64		V64: float64		V65: float64
V66: float64		V67: float64		V68: float64		V69: float64		V70: float64
V71: float64		V72: float64		V73: float64		V74: float64		V75: float64
V76: float64		V77: float64		V78: float64		V79: float64		V80: float64
V81: float64		V82: float64		V83: float64		V84: float64		V85: float64
V86: float64		V87: float64		V88: float64		V89: float64		V90: float64
V91: float64		V92: float64		V93: float64		V94: float64		V95: float64
V96: float64		V97: float64		V98: float64		V99: float64		V100: float64
V101: float64		V102: float64		V103: float64		V104: float64		V105: float64
V106: float64		V107: float64		V108: float64		V109: float64		V110: float64
V111: float64		V112: float64		V113: float64		V114: float64		V115: float64
V116: float64		V117: float64		V118: float64		V119: float64		V120: float64
V121: float64		V122: float64		V123: float64		V124: float64		V125: float64
V126: float64		V127: float64		V128: float64		V129: float64		V130: float64
V131: float64		V132: float64		V133: float64		V134: float64		V135: float64
V136: float64		V137: float64		V138: float64		V139: float64		V140: float64
V141: float64		V142: float64		V143: float64		V144: float64		V145: float64
V146: float64		V147: float64		V148: float64		V149: float64		V150: float64
V151: float64		V152: float64		V153: float64		V154: float64		V155: float64
V156: float64		V157: float64		V158: float64		V159: float64		V160: float64
V161: float64		V162: float64		V163: float64		V164: float64		V165: float64
V166: float64		V167: float64		V168: float64		V169: float64		V170: float64
V171: float64		V172: float64		V173: float64		V174: float64		V175: float64
V176: float64		V177: float64		V178: float64		V179: float64		V180: float64
V181: float64		V182: float64		V183: float64		V184: float64		V185: float64
V186: float64		V187: float64		V188: float64		V189: float64		V190: float64
V191: float64		V192: float64		V193: float64		V194: float64		V195: float64
V196: float64		V197: float64		V198: float64		V199: float64		V200: float64
V201: float64		V202: float64		V203: float64		V204: float64		V205: float64
V206: float64		V207: float64		V208: float64		V209: float64		V210: float64
V211: float64		V212: float64		V213: float64		V214: float64		V215: float64
V216: float64		V217: float64		V218: float64		V219: float64		V220: float64
V221: float64		V222: float64		V223: float64		V224: float64		V225: float64
V226: float64		V227: float64		V228: float64		V229: float64		V230: float64
V231: float64		V232: float64		V233: float64		V234: float64		V235: float64
V236: float64		V237: float64		V238: float64		V239: float64		V240: float64
V241: float64		V242: float64		V243: float64		V244: float64		V245: float64
V246: float64		V247: float64		V248: float64		V249: float64		V250: float64
V251: float64		V252: float64		V253: float64		V254: float64		V255: float64
V256: float64		V257: float64		V258: float64		V259: float64		V260: float64
V261: float64		V262: float64		V263: float64		V264: float64		V265: float64
V266: float64		V267: float64		V268: float64		V269: float64		V270: float64
V271: float64		V272: float64		V273: float64		V274: float64		V275: float64
V276: float64		V277: float64		V278: float64		V279: float64		V280: float64
V281: float64		V282: float64		V283: float64		V284: float64		V285: float64
V286: float64		V287: float64		V288: float64		V289: float64		V290: float64
V291: float64		V292: float64		V293: float64		V294: float64		V295: float64
V296: float64		V297: float64		V298: float64		V299: float64		V300: float64
V301: float64		V302: float64		V303: float64		V304: float64		V305: float64
V306: float64		V307: float64		V308: float64		V309: float64		V310: float64
V311: float64		V312: float64		V313: float64		V314: float64		V315: float64
V316: float64		V317: float64		V318: float64		V319: float64		V320: float64
V321: float64		V322: float64		V323: float64		V324: float64		V325: float64
V326: float64		V327: float64		V328: float64		V329: float64		V330: float64
V331: float64		V332: float64		V333: float64		V334: float64		V335: float64

#### 7. Control the correct extraction of transaction: number of non-fraudulent transactions, number of fraudulent transactions, rate of fraudulent transactions

In [60]:
nb_nonfraud = reduced_transaction_df[reduced_transaction_df["isFraud"] == 0].shape[0]
nb_fraud = reduced_transaction_df[reduced_transaction_df["isFraud"] == 1].shape[0]
rate_fraud = nb_fraud / df_len

print(f"number of non-fraudulent transactions : {nb_nonfraud}")
print(f"number of fraudulent transactions : {nb_fraud}")
print(f"rate of fraudulent transactions : {rate_fraud}")

number of non-fraudulent transactions : 9700
number of fraudulent transactions : 300
rate of fraudulent transactions : 0.03

#### 8. Which columns are categories? List them (show all column names); extract and show existing values.

In [61]:
category_columns = reduced_transaction_df.select_dtypes(include=['category']).columns
print("Columns that are categories:", category_columns)

Columns that are categories: Index([], dtype='object')

#### 9. Which columns are numeric? List them (show all column names); extract and show min, max, mean, median and standard deviation values

In [71]:
numeric_columns = reduced_transaction_df.select_dtypes(include='number').columns
print("Columns that are categories:", numeric_columns.values)

Columns that are categories: ['TransactionID' 'isFraud' 'TransactionDT' 'TransactionAmt' 'card1'
 'card2' 'card3' 'card5' 'addr1' 'addr2' 'dist1' 'dist2' 'C1' 'C2' 'C3'
 'C4' 'C5' 'C6' 'C7' 'C8' 'C9' 'C10' 'C11' 'C12' 'C13' 'C14' 'D1' 'D2'
 'D3' 'D4' 'D5' 'D6' 'D7' 'D8' 'D9' 'D10' 'D11' 'D12' 'D13' 'D14' 'D15'
 'V1' 'V2' 'V3' 'V4' 'V5' 'V6' 'V7' 'V8' 'V9' 'V10' 'V11' 'V12' 'V13'
 'V14' 'V15' 'V16' 'V17' 'V18' 'V19' 'V20' 'V21' 'V22' 'V23' 'V24' 'V25'
 'V26' 'V27' 'V28' 'V29' 'V30' 'V31' 'V32' 'V33' 'V34' 'V35' 'V36' 'V37'
 'V38' 'V39' 'V40' 'V41' 'V42' 'V43' 'V44' 'V45' 'V46' 'V47' 'V48' 'V49'
 'V50' 'V51' 'V52' 'V53' 'V54' 'V55' 'V56' 'V57' 'V58' 'V59' 'V60' 'V61'
 'V62' 'V63' 'V64' 'V65' 'V66' 'V67' 'V68' 'V69' 'V70' 'V71' 'V72' 'V73'
 'V74' 'V75' 'V76' 'V77' 'V78' 'V79' 'V80' 'V81' 'V82' 'V83' 'V84' 'V85'
 'V86' 'V87' 'V88' 'V89' 'V90' 'V91' 'V92' 'V93' 'V94' 'V95' 'V96' 'V97'
 'V98' 'V99' 'V100' 'V101' 'V102' 'V103' 'V104' 'V105' 'V106' 'V107'
 'V108' 'V109' 'V110' 'V111' 'V112' 'V113' 'V114' 'V115' 'V116' 'V117'
 'V118' 'V119' 'V120' 'V121' 'V122' 'V123' 'V124' 'V125' 'V126' 'V127'
 'V128' 'V129' 'V130' 'V131' 'V132' 'V133' 'V134' 'V135' 'V136' 'V137'
 'V138' 'V139' 'V140' 'V141' 'V142' 'V143' 'V144' 'V145' 'V146' 'V147'
 'V148' 'V149' 'V150' 'V151' 'V152' 'V153' 'V154' 'V155' 'V156' 'V157'
 'V158' 'V159' 'V160' 'V161' 'V162' 'V163' 'V164' 'V165' 'V166' 'V167'
 'V168' 'V169' 'V170' 'V171' 'V172' 'V173' 'V174' 'V175' 'V176' 'V177'
 'V178' 'V179' 'V180' 'V181' 'V182' 'V183' 'V184' 'V185' 'V186' 'V187'
 'V188' 'V189' 'V190' 'V191' 'V192' 'V193' 'V194' 'V195' 'V196' 'V197'
 'V198' 'V199' 'V200' 'V201' 'V202' 'V203' 'V204' 'V205' 'V206' 'V207'
 'V208' 'V209' 'V210' 'V211' 'V212' 'V213' 'V214' 'V215' 'V216' 'V217'
 'V218' 'V219' 'V220' 'V221' 'V222' 'V223' 'V224' 'V225' 'V226' 'V227'
 'V228' 'V229' 'V230' 'V231' 'V232' 'V233' 'V234' 'V235' 'V236' 'V237'
 'V238' 'V239' 'V240' 'V241' 'V242' 'V243' 'V244' 'V245' 'V246' 'V247'
 'V248' 'V249' 'V250' 'V251' 'V252' 'V253' 'V254' 'V255' 'V256' 'V257'
 'V258' 'V259' 'V260' 'V261' 'V262' 'V263' 'V264' 'V265' 'V266' 'V267'
 'V268' 'V269' 'V270' 'V271' 'V272' 'V273' 'V274' 'V275' 'V276' 'V277'
 'V278' 'V279' 'V280' 'V281' 'V282' 'V283' 'V284' 'V285' 'V286' 'V287'
 'V288' 'V289' 'V290' 'V291' 'V292' 'V293' 'V294' 'V295' 'V296' 'V297'
 'V298' 'V299' 'V300' 'V301' 'V302' 'V303' 'V304' 'V305' 'V306' 'V307'
 'V308' 'V309' 'V310' 'V311' 'V312' 'V313' 'V314' 'V315' 'V316' 'V317'
 'V318' 'V319' 'V320' 'V321' 'V322' 'V323' 'V324' 'V325' 'V326' 'V327'
 'V328' 'V329' 'V330' 'V331' 'V332' 'V333' 'V334' 'V335' 'V336' 'V337'
 'V338' 'V339']

#### 10. For each column, print the rate of undefined values (NaN for numeric)

In [87]:
for i, col in zip(range(1, len(column_names)+1), column_names):
    nan_rate = reduced_transaction_df[reduced_transaction_df[col].isna()].shape[0] / df_len
    print(f"{col}: {nan_rate}", end="\t")
    if (i % 5 == 0):
        print()

TransactionID: 0.0	isFraud: 0.0	TransactionDT: 0.0	TransactionAmt: 0.0	ProductCD: 0.0
card1: 0.0	card2: 0.0121	card3: 0.0001	card4: 0.0001	card5: 0.0023
card6: 0.0001	addr1: 0.0915	addr2: 0.0915	dist1: 0.6618	dist2: 0.9625
P_emaildomain: 0.2099	R_emaildomain: 0.8366	C1: 0.0	C2: 0.0	C3: 0.0
C4: 0.0	C5: 0.0	C6: 0.0	C7: 0.0	C8: 0.0
C9: 0.0	C10: 0.0	C11: 0.0	C12: 0.0	C13: 0.0
C14: 0.0	D1: 0.0	D2: 0.4585	D3: 0.4283	D4: 0.6232
D5: 0.7234	D6: 0.9507	D7: 0.9775	D8: 0.8898	D9: 0.8898
D10: 0.1268	D11: 0.7732	D12: 0.9593	D13: 0.972	D14: 0.9544
D15: 0.494	M1: 0.5794	M2: 0.5794	M3: 0.5794	M4: 0.4879
M5: 0.5788	M6: 0.2579	M7: 0.7868	M8: 0.7868	M9: 0.7868
V1: 0.7732	V2: 0.7732	V3: 0.7732	V4: 0.7732	V5: 0.7732
V6: 0.7732	V7: 0.7732	V8: 0.7732	V9: 0.7732	V10: 0.7732
V11: 0.7732	V12: 0.1269	V13: 0.1269	V14: 0.1269	V15: 0.1269
V16: 0.1269	V17: 0.1269	V18: 0.1269	V19: 0.1269	V20: 0.1269
V21: 0.1269	V22: 0.1269	V23: 0.1269	V24: 0.1269	V25: 0.1269
V26: 0.1269	V27: 0.1269	V28: 0.1269	V29: 0.1269	V30: 0.1269
V31: 0.1269	V32: 0.1269	V33: 0.1269	V34: 0.1269	V35: 0.6232
V36: 0.6232	V37: 0.6232	V38: 0.6232	V39: 0.6232	V40: 0.6232
V41: 0.6232	V42: 0.6232	V43: 0.6232	V44: 0.6232	V45: 0.6232
V46: 0.6232	V47: 0.6232	V48: 0.6232	V49: 0.6232	V50: 0.6232
V51: 0.6232	V52: 0.6232	V53: 0.1348	V54: 0.1348	V55: 0.1348
V56: 0.1348	V57: 0.1348	V58: 0.1348	V59: 0.1348	V60: 0.1348
V61: 0.1348	V62: 0.1348	V63: 0.1348	V64: 0.1348	V65: 0.1348
V66: 0.1348	V67: 0.1348	V68: 0.1348	V69: 0.1348	V70: 0.1348
V71: 0.1348	V72: 0.1348	V73: 0.1348	V74: 0.1348	V75: 0.494
V76: 0.494	V77: 0.494	V78: 0.494	V79: 0.494	V80: 0.494
V81: 0.494	V82: 0.494	V83: 0.494	V84: 0.494	V85: 0.494
V86: 0.494	V87: 0.494	V88: 0.494	V89: 0.494	V90: 0.494
V91: 0.494	V92: 0.494	V93: 0.494	V94: 0.494	V95: 0.0
V96: 0.0	V97: 0.0	V98: 0.0	V99: 0.0	V100: 0.0
V101: 0.0	V102: 0.0	V103: 0.0	V104: 0.0	V105: 0.0
V106: 0.0	V107: 0.0	V108: 0.0	V109: 0.0	V110: 0.0
V111: 0.0	V112: 0.0	V113: 0.0	V114: 0.0	V115: 0.0
V116: 0.0	V117: 0.0	V118: 0.0	V119: 0.0	V120: 0.0
V121: 0.0	V122: 0.0	V123: 0.0	V124: 0.0	V125: 0.0
V126: 0.0	V127: 0.0	V128: 0.0	V129: 0.0	V130: 0.0
V131: 0.0	V132: 0.0	V133: 0.0	V134: 0.0	V135: 0.0
V136: 0.0	V137: 0.0	V138: 0.8613	V139: 0.8613	V140: 0.8613
V141: 0.8613	V142: 0.8613	V143: 0.8613	V144: 0.8613	V145: 0.8613
V146: 0.8613	V147: 0.8613	V148: 0.8613	V149: 0.8613	V150: 0.8613
V151: 0.8613	V152: 0.8613	V153: 0.8613	V154: 0.8613	V155: 0.8613
V156: 0.8613	V157: 0.8613	V158: 0.8613	V159: 0.8613	V160: 0.8613
V161: 0.8613	V162: 0.8613	V163: 0.8613	V164: 0.8613	V165: 0.8613
V166: 0.8613	V167: 0.843	V168: 0.843	V169: 0.843	V170: 0.843
V171: 0.843	V172: 0.843	V173: 0.843	V174: 0.843	V175: 0.843
V176: 0.843	V177: 0.843	V178: 0.843	V179: 0.843	V180: 0.843
V181: 0.843	V182: 0.843	V183: 0.843	V184: 0.843	V185: 0.843
V186: 0.843	V187: 0.843	V188: 0.843	V189: 0.843	V190: 0.843
V191: 0.843	V192: 0.843	V193: 0.843	V194: 0.843	V195: 0.843
V196: 0.843	V197: 0.843	V198: 0.843	V199: 0.843	V200: 0.843
V201: 0.843	V202: 0.843	V203: 0.843	V204: 0.843	V205: 0.843
V206: 0.843	V207: 0.843	V208: 0.843	V209: 0.843	V210: 0.843
V211: 0.843	V212: 0.843	V213: 0.843	V214: 0.843	V215: 0.843
V216: 0.843	V217: 0.8413	V218: 0.8413	V219: 0.8413	V220: 0.8404
V221: 0.8404	V222: 0.8404	V223: 0.8413	V224: 0.8413	V225: 0.8413
V226: 0.8413	V227: 0.8404	V228: 0.8413	V229: 0.8413	V230: 0.8413
V231: 0.8413	V232: 0.8413	V233: 0.8413	V234: 0.8404	V235: 0.8413
V236: 0.8413	V237: 0.8413	V238: 0.8404	V239: 0.8404	V240: 0.8413
V241: 0.8413	V242: 0.8413	V243: 0.8413	V244: 0.8413	V245: 0.8404
V246: 0.8413	V247: 0.8413	V248: 0.8413	V249: 0.8413	V250: 0.8404
V251: 0.8404	V252: 0.8413	V253: 0.8413	V254: 0.8413	V255: 0.8404
V256: 0.8404	V257: 0.8413	V258: 0.8413	V259: 0.8404	V260: 0.8413
V261: 0.8413	V262: 0.8413	V263: 0.8413	V264: 0.8413	V265: 0.8413
V266: 0.8413	V267: 0.8413	V268: 0.8413	V269: 0.8413	V270: 0.8404
V271: 0.8404	V272: 0.8404	V273: 0.8413	V274: 0.8413	V275: 0.8413
V276: 0.8413	V277: 0.8413	V278: 0.8413	V279: 0.0	V280: 0.0
V281: 0.0	V282: 0.0	V283: 0.0	V284: 0.0	V285: 0.0
V286: 0.0	V287: 0.0	V288: 0.0	V289: 0.0	V290: 0.0
V291: 0.0	V292: 0.0	V293: 0.0	V294: 0.0	V295: 0.0
V296: 0.0	V297: 0.0	V298: 0.0	V299: 0.0	V300: 0.0
V301: 0.0	V302: 0.0	V303: 0.0	V304: 0.0	V305: 0.0
V306: 0.0	V307: 0.0	V308: 0.0	V309: 0.0	V310: 0.0
V311: 0.0	V312: 0.0	V313: 0.0	V314: 0.0	V315: 0.0
V316: 0.0	V317: 0.0	V318: 0.0	V319: 0.0	V320: 0.0
V321: 0.0	V322: 0.861	V323: 0.861	V324: 0.861	V325: 0.861
V326: 0.861	V327: 0.861	V328: 0.861	V329: 0.861	V330: 0.861
V331: 0.861	V332: 0.861	V333: 0.861	V334: 0.861	V335: 0.861
V336: 0.861	V337: 0.861	V338: 0.861	V339: 0.861

#### 11. For each numerical column, print the rate of zero (0) value
Typ:
- First transform the content of the DataFrame column into a list before counting the quantity of a given item : <br>
```python
zero_number = list(reduced_dtransac[colunm]).count(0)
```

In [88]:
for i, col in zip(range(1, len(column_names)+1), column_names):
    rate_zero = list(reduced_transaction_df[col]).count(0) / df_len
    print(f"{col}: {rate_zero}", end="\t")
    if (i % 5 == 0):
        print()

TransactionID: 0.0	isFraud: 0.97	TransactionDT: 0.0	TransactionAmt: 0.0	ProductCD: 0.0
card1: 0.0	card2: 0.0	card3: 0.0	card4: 0.0	card5: 0.0
card6: 0.0	addr1: 0.0	addr2: 0.0	dist1: 0.0313	dist2: 0.0036
P_emaildomain: 0.0	R_emaildomain: 0.0	C1: 0.0007	C2: 0.0003	C3: 0.991
C4: 0.8347	C5: 0.6029	C6: 0.1013	C7: 0.9094	C8: 0.7806
C9: 0.2987	C10: 0.7899	C11: 0.0005	C12: 0.9087	C13: 0.0497
C14: 0.0503	D1: 0.4531	D2: 0.0221	D3: 0.1317	D4: 0.1105
D5: 0.0492	D6: 0.0315	D7: 0.0073	D8: 0.0015	D9: 0.0075
D10: 0.3396	D11: 0.0667	D12: 0.0275	D13: 0.0231	D14: 0.0347
D15: 0.1184	M1: 0.0	M2: 0.0	M3: 0.0	M4: 0.0
M5: 0.0	M6: 0.0	M7: 0.0	M8: 0.0	M9: 0.0
V1: 0.0004	V2: 0.0004	V3: 0.0004	V4: 0.0552	V5: 0.0529
V6: 0.0004	V7: 0.0004	V8: 0.0004	V9: 0.0004	V10: 0.1105
V11: 0.1099	V12: 0.524	V13: 0.4998	V14: 0.0002	V15: 0.8385
V16: 0.8385	V17: 0.8364	V18: 0.8364	V19: 0.3874	V20: 0.3797
V21: 0.8369	V22: 0.8369	V23: 0.0005	V24: 0.0005	V25: 0.2209
V26: 0.2205	V27: 0.8718	V28: 0.8718	V29: 0.5782	V30: 0.5763
V31: 0.8304	V32: 0.8304	V33: 0.8385	V34: 0.8385	V35: 0.1991
V36: 0.1883	V37: 0.0006	V38: 0.0006	V39: 0.3343	V40: 0.3343
V41: 0.0006	V42: 0.3347	V43: 0.3347	V44: 0.0008	V45: 0.0008
V46: 0.0006	V47: 0.0006	V48: 0.2176	V49: 0.2173	V50: 0.3319
V51: 0.3361	V52: 0.3361	V53: 0.5075	V54: 0.4828	V55: 0.0002
V56: 0.0002	V57: 0.8184	V58: 0.8184	V59: 0.8222	V60: 0.8222
V61: 0.3686	V62: 0.3632	V63: 0.8226	V64: 0.8226	V65: 0.0002
V66: 0.2187	V67: 0.2184	V68: 0.8645	V69: 0.5754	V70: 0.5738
V71: 0.8154	V72: 0.8154	V73: 0.8184	V74: 0.8184	V75: 0.2642
V76: 0.2452	V77: 0.0008	V78: 0.0008	V79: 0.4683	V80: 0.462
V81: 0.462	V82: 0.1183	V83: 0.1132	V84: 0.4625	V85: 0.4625
V86: 0.0011	V87: 0.0011	V88: 0.0008	V89: 0.5048	V90: 0.2788
V91: 0.2776	V92: 0.4592	V93: 0.4592	V94: 0.4683	V95: 0.8811
V96: 0.8016	V97: 0.8513	V98: 0.9522	V99: 0.8683	V100: 0.9193
V101: 0.9464	V102: 0.9335	V103: 0.941	V104: 0.964	V105: 0.9517
V106: 0.961	V107: 0.0	V108: 0.0	V109: 0.0	V110: 0.0
V111: 0.0	V112: 0.0	V113: 0.0	V114: 0.0	V115: 0.0
V116: 0.0	V117: 0.0	V118: 0.0	V119: 0.0	V120: 0.0
V121: 0.0	V122: 0.0	V123: 0.0	V124: 0.0	V125: 0.0
V126: 0.8811	V127: 0.8016	V128: 0.8513	V129: 0.9522	V130: 0.8683
V131: 0.9193	V132: 0.9464	V133: 0.9335	V134: 0.941	V135: 0.964
V136: 0.9517	V137: 0.961	V138: 0.1369	V139: 0.0756	V140: 0.0755
V141: 0.1352	V142: 0.135	V143: 0.0666	V144: 0.0658	V145: 0.0651
V146: 0.1306	V147: 0.1306	V148: 0.0756	V149: 0.0755	V150: 0.0
V151: 0.0	V152: 0.0	V153: 0.0756	V154: 0.0755	V155: 0.0756
V156: 0.0755	V157: 0.0756	V158: 0.0755	V159: 0.0714	V160: 0.0656
V161: 0.1352	V162: 0.135	V163: 0.135	V164: 0.0666	V165: 0.0659
V166: 0.0658	V167: 0.1312	V168: 0.1273	V169: 0.1511	V170: 0.0084
V171: 0.0084	V172: 0.1499	V173: 0.1528	V174: 0.1488	V175: 0.1487
V176: 0.0	V177: 0.1457	V178: 0.143	V179: 0.144	V180: 0.1407
V181: 0.1442	V182: 0.1411	V183: 0.1427	V184: 0.1437	V185: 0.1437
V186: 0.0	V187: 0.0	V188: 0.0084	V189: 0.0084	V190: 0.0
V191: 0.0	V192: 0.0	V193: 0.0	V194: 0.0084	V195: 0.0084
V196: 0.0	V197: 0.0084	V198: 0.0084	V199: 0.0	V200: 0.0084
V201: 0.0084	V202: 0.1312	V203: 0.1246	V204: 0.1273	V205: 0.1499
V206: 0.1528	V207: 0.1463	V208: 0.1488	V209: 0.1474	V210: 0.1487
V211: 0.1457	V212: 0.143	V213: 0.144	V214: 0.1442	V215: 0.1411
V216: 0.1427	V217: 0.1324	V218: 0.1239	V219: 0.1286	V220: 0.1541
V221: 0.0215	V222: 0.0215	V223: 0.1512	V224: 0.1433	V225: 0.1482
V226: 0.149	V227: 0.1516	V228: 0.0	V229: 0.0	V230: 0.0
V231: 0.1478	V232: 0.1431	V233: 0.1449	V234: 0.1412	V235: 0.1461
V236: 0.1415	V237: 0.1435	V238: 0.147	V239: 0.1464	V240: 0.0
V241: 0.0	V242: 0.0	V243: 0.0	V244: 0.0	V245: 0.0215
V246: 0.0	V247: 0.0	V248: 0.0	V249: 0.0	V250: 0.0215
V251: 0.0215	V252: 0.0	V253: 0.0	V254: 0.0	V255: 0.0215
V256: 0.0215	V257: 0.0	V258: 0.0	V259: 0.0215	V260: 0.0078
V261: 0.0067	V262: 0.0073	V263: 0.1324	V264: 0.1239	V265: 0.1286
V266: 0.1512	V267: 0.1433	V268: 0.1482	V269: 0.1553	V270: 0.1518
V271: 0.1514	V272: 0.1516	V273: 0.1478	V274: 0.1431	V275: 0.1449
V276: 0.1461	V277: 0.1415	V278: 0.1435	V279: 0.8293	V280: 0.7371
V281: 0.9561	V282: 0.3975	V283: 0.3956	V284: 0.9193	V285: 0.5985
V286: 0.9723	V287: 0.8116	V288: 0.8502	V289: 0.8447	V290: 0.0
V291: 0.0	V292: 0.0	V293: 0.9207	V294: 0.8673	V295: 0.9024
V296: 0.9099	V297: 0.9548	V298: 0.9179	V299: 0.9456	V300: 0.9687
V301: 0.9668	V302: 0.8393	V303: 0.8337	V304: 0.8368	V305: 0.0
V306: 0.8293	V307: 0.5315	V308: 0.7371	V309: 0.9193	V310: 0.5985
V311: 0.9723	V312: 0.8116	V313: 0.8502	V314: 0.8208	V315: 0.8447
V316: 0.9207	V317: 0.8673	V318: 0.9024	V319: 0.9548	V320: 0.9179
V321: 0.9456	V322: 0.1184	V323: 0.1124	V324: 0.1148	V325: 0.1347
V326: 0.1286	V327: 0.1312	V328: 0.1285	V329: 0.1264	V330: 0.1278
V331: 0.1184	V332: 0.1124	V333: 0.1148	V334: 0.1347	V335: 0.1286
V336: 0.1312	V337: 0.1285	V338: 0.1264	V339: 0.1278

## **II/ Data set visualisation**

#### 12. Visualise the dataset using dimensions: 'TransactionAmt', 'card1','addr1'.
Typs:
- Create a dedicated visualisation function
```python
show3D_transation_data(transac_dataset, x_axis_name, y_axis_name, z_axis_name)
```
- Use code from Anomaly Detection_Use_Case.

#### 13. Create an alternate visualisation function for visualising fraud entries only, in red
```python
show3D_transation_data _fraud_only(transac_dataset, x_axis_name, y_axis_name,
z_axis_name)
```

## **III/ Data cleaning**

#### 14. Perform one-hot encoding of categorical data

#### 15. Remove NaN (Not a number) values by imputation of the mean of the column
Typs:
- Do not forget to transform the resulting data structure in Pandas Dataframe again
- Do not forget to keep the column names for the Dataframe

#### 16. Control that no NaN value remain in the dataframe

## **IV/ Outlier detection**

### **Isolation forest**

#### 17. Extract outliers using sklearn.ensemble.IsolationForests, using andoutliers_fraction = 0.03. Control the numbers of outliers.
Typs:
- clf.predict() returns outliers marked as -1
- Add an additional column ‘outliers’ to your dataframe as follows to store outlier status:
```python
X_with_imputed_values_outliers['if_outliers'] = dtransac_outliers
```
- How many outliers found in unsupervised manner are labelled as fraudulent transactions
(‘isFraud’) ?
- Print fraudulent outliers. What do you observe?

#### 18. Create yet another visualisation function for visualising IsolationForest outliers entries only, in red
```python
show3D_transation_data_if_outliers_only(transac_dataset, x_axis_name, y_axis_name,
z_axis_name)
```

### **Local Outlier Factor (LOF)**

#### 19. Extract outliers using sklearn.neighbors. LocalOutlierFactor, using and outliers_fraction = 0.03. Control the numbers of outliers.
Typs:
- clf.predict() returns outliers marked as -1
- Add an additional column ‘lof_outliers’ to your dataframe as follows to store outlier status:
```python
X_with_imputed_values_outliers['lof_outliers'] = lof_outliers
```
- How many outliers found in unsupervised manner are labelled as fraudulent transactions
(‘isFraud’) ?

### 20. Create yet another visualisation function for visualising LOF outliers entries only, in red
```python
show3D_transation_data_lof_outliers_only(transac_dataset, x_axis_name, y_axis_name,
z_axis_name)
```

### **Comparison of IsolationForest and LOF**

#### 21. Control the complementarity between the 2 algorithms
1. How many outliers are common to IsolationForest and LOF?
2. What do you deduce for building unsupervised outlier detectors?